@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones personalizadas */
@layer utilities {
  .fade-in {
    @apply opacity-0 translate-y-4 transition-all duration-700 ease-out;
  }

  .fade-in.show {
    @apply opacity-100 translate-y-0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.animate-fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}


/*Estilo de la imagen en seccion about us*/
.custom-bottom-round {
  clip-path: ellipse(100% 90% at 50% 0%);
}
